.mainTitle {
  font-size: 15vw;
  font-family: "Sole Title";
  margin: 50px 20vw;
  text-align: center;
  border-top: solid 15px #2b2b2b;
  border-bottom: solid 15px #2b2b2b;
}

@media screen and (max-width: 930px) {
  .mainTitle {
    font-size: 15vw;
  }
}

@media screen and (max-width: 650px) {
  .mainTitle {
    font-size: 12vw;
    border-top: solid 7px #2b2b2b;
    border-bottom: solid 7px #2b2b2b;
  }
}

@media screen and (min-width: 1960px) {
  .mainTitle {
    font-size: 300px;
  }
}

.mainSection {
  margin: 0;
}
