.mainTitle {
  font-size: 25vw;
  font-family: "Sole Title";
  letter-spacing: -7px;
  margin: 50px 0;
  text-align: center;
  border-top: solid 15px #2b2b2b;
  border-bottom: solid 15px #2b2b2b;
}

@media screen and (min-width: 930px) {
  .mainTitle {
    font-size: 15vw;
  }
}

@media screen and (min-width: 1960px) {
  .mainTitle {
    font-size: 300px;
  }
}

.mainSection {
  margin: 0 40px;
}
